body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

footer {
    margin-top: 2rem;
}

table {
    width: 100%;
    margin: .5rem;
    border: 1px solid #000;
    border-collapse: collapse;
}
tr {
    height: 2rem;
}
td, th {
    text-align: left;
    border: 1px solid #000;
    padding: 3px;
}
.movie-title {
    width: 40%;
}

.movie-format {
    width: 20%;
}

.movie-length {
    width: 10%;
    text-align: right;
}

.movie-release-year {
    width: 10%;
    text-align: right;
}

.movie-rating {
    width: 10%;
    text-align: right;
}

.movie-actions {
    width: 10%;
    text-align: center;
}

.movie-action-link:not(:first-child) {
    padding-left: .5rem;
}